.connect-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect-page-container .connect-wallet-card {
    width: 500px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}